venv/
__pycache__/
*.pyc
.DS_Storevenv/
__pycache__/
*.db
*.save
*.zip
*.mp4
*.png
*.jpg
*.h5
*.pt
*.onnx
vision extras/
*.log
.env
*.env
*.key
*.h5
*.pt
*.onnx
# ENV / Keys
.env
.env*
*.key
*.pem
*.cert

# Model Files
*.pt
*.onnx
*.h5

# Logs
log/
*.log

# Cache
__pycache__/
memory/
vision extras/

# Images
*.jpg
*.jpeg
